<h3 id="notice"><%= notice %></h3>

<h1>Bienvenidos a Cassiopeia</h1>

<p> Aún estamos en etapa de desarrollo, pero muy pronto lanzaremos nuestra primera versión. </p>

<p> Si quieres ser de las primeras personas en enterarse cuando estemos al aire, por favor diligencia el siguiente formulario: </p>



<%= render 'form' %>


<p> Vienen muchas cosas buenas en camino, ¡no te las pierdas! </p>